<br><br><br><br>
<h5>{{title}}</h5><br><br>

<div class = "row">
    <form materialize class = "col s12" [formGroup] = "form" (ngSubmit)= "save()">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate"
                    [(ngModel)]="staff.name" formControlName="name"
                    [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
                <label for="name"
                [class.active]="staff.name"
                data-error="Name is required and needs to contain at least 3 chars">
                     Name
                </label>
             </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate"
                    [(ngModel)]="staff.username" formControlName="username"
                    [class.invalid]="form.controls['username'].touched && !form.controls['username'].valid"  [attr.disabled]="active?false:null">
                <label for="username"
                [class.active]="staff.username"
                data-error="Username is required and needs to contain at least 3 chars">
                     Username
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate"
                    [(ngModel)]="staff.password" formControlName="password"
                    [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
                <label for="password"
                [class.active]="staff.password"
                data-error="Password is required and needs to contain at least 6 chars">
                     Password
                </label>
             </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col s3">
                <input name="group" type="radio" id="1" [(ngModel)]="radioButtonValue" [value]="1" [ngModelOptions]="{standalone: true}" [attr.disabled]="active?true:null"/>
                <label for="1">Medic</label>
            </div>
            <div class="col s3">
                <input name="group" type="radio" id="2" [(ngModel)]="radioButtonValue" [value]="2" [ngModelOptions]="{standalone: true}" [attr.disabled]="active?true:null"/>
                <label for="2">Secretary</label>
            </div>
            <div class="col s3">
                <input name="group" type="radio" id="0" [(ngModel)]="radioButtonValue" [value]="0" [ngModelOptions]="{standalone: true}" [attr.disabled]="active?true:null"/>
                <label for="0">Admin</label>
            </div>
        </div> 
        <br><br>

        <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
        Submit<i class="material-icons right">send</i>
        </button>  
    </form>
</div>          