<br><br><br><br>
<div *ngIf = "!consPage">
<h5>Appointments for today : </h5>

 <br><br>
<table class="highlight">
    <thead>
        <tr>
            <th>Patient name</th>
            <th>Time</th>
            <th>Status</th>
                <th>
                Consult observations
                </th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let cons of consultations">
            <td>{{cons.patientName}}</td>
            <td>{{cons.datestart}}</td>
            <td>
                <div *ngIf = "cons.status == 0" >
                    Not Arrived
                </div>
                <div *ngIf = "cons.status == 1" >
                    Arrived
                </div>
                <div *ngIf = "cons.status == 2" >
                    Completed
                </div>    
            </td>
            <td>
                <div *ngIf = "!show[cons.idconsultation]"> 
                    <button class="btn waves-effect waves-light" (click)="consult(cons)">Consult</button>
                </div>


            </td>
            <div *ngIf = "show[cons.idconsultation]">
                <td>

                </td>
            </div>

        </tr>
    </tbody>
</table>
</div>
<div *ngIf = "showTest">
    <div class = "row">
    <form materialize class = "col s12" [formGroup] = "form" (ngSubmit)= "submitTest()">
        <div class="row">
            <div class="input-field col s12">
                <input id="hgb" type="number" class="validate"
                    [(ngModel)]="hgb" formControlName="hgb"
                    [class.invalid]="form.controls['hgb'].touched && !form.controls['hgb'].valid">
                <label for="hgb"
                [class.active]="hgb"
                data-error="Pleas enter the hgb value">
                     HGB
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="paletets" type="number" class="validate"
                    [(ngModel)]="paletets" formControlName="paletets"
                    [class.invalid]="form.controls['paletets'].touched && !form.controls['paletets'].valid">
                <label for="paletets"
                [class.active]="paletets"
                data-error="Pleas enter the paletets value">
                     Paletets
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="vsh" type="number" class="validate"
                    [(ngModel)]="vsh" formControlName="vsh"
                    [class.invalid]="form.controls['vsh'].touched && !form.controls['vsh'].valid">
                <label for="vsh"
                [class.active]="vsh"
                data-error="Pleas enter the vsh value">
                     VSH
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="tsh" type="number" class="validate"
                    [(ngModel)]="tsh" formControlName="tsh"
                    [class.invalid]="form.controls['tsh'].touched && !form.controls['tsh'].valid">
                <label for="tsh"
                [class.active]="tsh"
                data-error="Pleas enter the tsh value">
                     TSH
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="mg" type="number" class="validate"
                    [(ngModel)]="mg" formControlName="mg"
                    [class.invalid]="form.controls['mg'].touched && !form.controls['mg'].valid">
                <label for="mg"
                [class.active]="mg"
                data-error="Pleas enter the mg value">
                     MG
                </label>
             </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="fe" type="number" class="validate"
                    [(ngModel)]="fe" formControlName="fe"
                    [class.invalid]="form.controls['fe'].touched && !form.controls['fe'].valid">
                <label for="fe"
                [class.active]="fe"
                data-error="Pleas enter the fe value">
                     FE
                </label>
             </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit"
            [disabled]="!form.valid">
        Submit<i class="material-icons right">send</i>
        </button>  
         <button class="btn waves-effect waves-light" (click)="cancel()">Cancel</button>
    </form>
    </div>
</div>
<div *ngIf = "consPage">
    <br><br>
    Patient id :   {{patient.idpatient}}
    <br><br>
    Name :   {{patient.name}}
    <br><br>
    Blood Type :   {{patient.bloodtype}}
    <br><br>
     Birthdate :   {{patient.birthdate}}
    <br><br>
    <button class="btn waves-effect waves-light" (click)="showBloodTest()">New Blood Test</button>
    <button class="btn waves-effect waves-light" (click)="prescript()">New Prescription</button>
    <button class="btn waves-effect waves-light" (click)="obs()">Add Observations</button>
    <button class="btn waves-effect waves-light" (click)="diseasesShow()">Known Diseases</button>
     <button class="btn waves-effect waves-light" (click)="cancel()">Cancel</button>














<div *ngIf = "showDis">

    <div class = "row">

        <div class = "col s6">
            <h5>Known diseases: </h5>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Disease Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let disease of patientDiseases">
                        <td>{{disease.iddisease}}</td>
                        <td>{{disease.name}}</td>
                        <td>
                            <button class="btn waves-effect waves-light"  (click)="deleteDisease(patient.idpatient,disease.iddisease)">Remove Disease</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "col s6">
            <h5>Search and add a disease from here</h5>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Disease Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let disease of diseases">
                        <td>{{disease.iddisease}}</td>
                        <td>{{disease.name}}</td>
                        <td>
                            <button class="btn waves-effect waves-light" (click)="addDisease(patient.idpatient,disease.iddisease)">Add disease</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>     
<div *ngIf = "active">

    <br><br>
  

    <br><br>
    Consult observations : 
    <br><br>
   <input type="text"  id="name" required [(ngModel)]="reason.observations" name="name">

<br><br>
    <button class="btn waves-effect waves-light" (click)="save()">Save</button>
    <button class="btn waves-effect waves-light" (click)="cancel()">Cancel</button>



</div>

<div *ngIf = "showPrescript">
<br><br>
<div class = "row">
    <div class = "col s6">
        <div class = "row">
            <div class="input-field col s12">
            <br>
                <input id="name" type="text" [(ngModel)]="searchParameter">     
                <label for="name">
                Search input
                </label>

            <br>
      <button class="btn waves-effect waves-light"  type="submit" name = "action" (click)="search()">
                 Search
      </button>
            </div>
        </div>

        <table class="highlight">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
        <tbody>
                <tr *ngFor = "let drug of drugs">
                    <td>{{drug.iddrug}}</td>
                    <td>{{drug.name}}</td>
                    <td>{{drug.price}}</td>
                    <div *ngIf = "!selected[drug.iddrug]">
                        <td>
                            <button class="btn waves-effect waves-light"  (click)="select(drug)" >Select</button>
                        </td>
                    </div>
                    <div *ngIf = "selected[drug.iddrug] == true">
                        <td>
                            
                        </td>
                    </div>
                </tr>
        </tbody>
    </table>
        <br><br>
            <button class="btn waves-effect waves-light" (click)="cancel()">Cancel</button>
        </div>
    <div class = "col s6">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let drug of selectedDrugs">
                    <td>{{drug.iddrug}}</td>
                    <td>{{drug.name}}</td>
                    <td>{{drug.price}}</td>
                </tr>
            </tbody>
        </table>
<br><br>
    <div class = "row">
            <div class = "col s3">
                <button class="btn waves-effect waves-light"  (click)="clear()" >Clear</button>
            </div>
            <div class = "col s3">
                <button class="btn waves-effect waves-light"  (click)="generatePdf()" >Generate prescript</button>
            </div>
    </div>        
    </div>
    </div>
</div>
<br><br>
</div>

