<br><br><br><br>
<div class="input-field col s6">
      <input id="date" type="text" [(ngModel)]="datepicker"  materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy'}]" />
      <label for="date"
                    [class.active]="datepicker"
                    data-error="Date is required">
                     Click here to pick a date 
       </label>
</div>
<br>
 <button class="btn waves-effect waves-light" (click)="checkDate()">Select</button>

 <br><br>
<table class="highlight">
    <thead>
        <tr>
            <th>Patient name</th>
            <th>Time</th>
            <th>Status</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let cons of consultations">
            <td>{{cons.patientName}}</td>
            <td>{{cons.datestart}}</td>
            <td>
                <div *ngIf = "cons.status == 0" >
                    Not Arrived
                </div>
                <div *ngIf = "cons.status == 1" >
                    Arrived
                </div>
                <div *ngIf = "cons.status == 2" >
                    Completed
                </div>    
            </td>
        </tr>
    </tbody>
</table>