<br><br><br><br>
<div *ngIf = "!active">
<h5>Appointments for today : </h5>

 <br><br>
<table class="highlight">
    <thead>
        <tr>
            <th>Patient name</th>
            <th>Time</th>
            <th>Status</th>
                <th>
                Consult observations
                </th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let cons of consultations">
            <td>{{cons.patientName}}</td>
            <td>{{cons.datestart}}</td>
            <td>
                <div *ngIf = "cons.status == 0" >
                    Not Arrived
                </div>
                <div *ngIf = "cons.status == 1" >
                    Arrived
                </div>
                <div *ngIf = "cons.status == 2" >
                    Completed
                </div>    
            </td>
            <td>
                <div *ngIf = "!show[cons.idconsultation]"> 
                    <button class="btn waves-effect waves-light" (click)="consult(cons)">Consult</button>
                </div>


            </td>
            <div *ngIf = "show[cons.idconsultation]">
                <td>

                </td>
            </div>

        </tr>
    </tbody>
</table>
</div>
<div *ngIf = "active">
    <br><br>
    Patient name :   {{consultation.patientName}}
    <br><br>
  

    <br><br>
    Consult observations : 
    <br><br>
   <input type="text"  id="name" required [(ngModel)]="reason.observations" name="name">
<br><br>
    <button class="btn waves-effect waves-light" (click)="save()">Save</button>
    <button class="btn waves-effect waves-light" (click)="active = !active">Cancel</button>
</div>